{% load static i18n cookie_consent_tags %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="taxify">
  <meta name="keywords" content="taxify">
  <meta name="author" content="taxify">
  <link rel="icon" href="{% static 'images/firmenlogo.gif' %}" type="image/x-icon">
  <title>
    {% block title %}
      taxi_basalt_website
    {% endblock title %}
  </title>
  <link rel="icon" href="{% static 'images/firmenlogo.gif' %}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{% static 'images/firmenlogo.gif' %}">
  <meta name="theme-color" content="#7C57FF">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="taxify">
  <meta name="msapplication-TileImage" content="{% static 'images/firmenlogo.gif' %}">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <!-- Icons -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">

  {% block css %}
    <link href="{% static 'css/project.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/iconsax.css' %}">
    <link rel="stylesheet" id="rtl-link" type="text/css" href="{% static 'css/vendors/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" id="change-link" type="text/css" href="{% static 'css/style.css' %}">
  {% endblock css %}

  {% block javascript %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery_363.min.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/iconsax.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/custom-swiper.js' %}"></script>
    <script defer src="{% static 'js/project.js' %}"></script>
  {% endblock javascript %}
</head>


<body>
<!-- Header section start -->
<header>
  <div class="custom-container">
    <nav class="navbar navbar-expand-xl p-0">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarNavDropdown">
                    <span class="navbar-toggler-icon">
                        <i class="iconsax icon" data-icon="text-align-left"></i>
                    </span>
      </button>
      <a href="{% url 'home' %}">
        <img class="img-fluid logo" src="{% static 'images/firmenlogo.gif' %}" alt="logo">
      </a>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          {% if current_page == 'home' %}
            <li class="nav-item">
              <a class="nav-link" href="#services">Dienstleistungen</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#vehicles">Fuhrpark</a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'find-us' %}">Anfahrt</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'imprint' %}">Impressum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'data-protection' %}">Datenschutz</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<!-- Header Section end -->

{% block content %}
{% endblock content %}

<!-- footer section start -->
<footer class="footer-wrapper bg-white" style="background: white">
  <div class="footer-content text-center">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <div>
          <a href="{% url 'home' %}">
            <img class="img-fluid logo firm-logo" src="{% static 'images/firmenlogo.gif' %}" alt="logo">
          </a>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-8 col-lg-8 footer-elements" style="color: white">
        <!-- Footer info -->
        <div class="">
          <div class="footer-item">
            <h4 class="text-link">{{ footer_section.telephone_header }}</h4>
            <ul>
              <li><a href="tel:{{ footer_section.telephone_text }}">{{ footer_section.telephone_text }}</a></li>
            </ul>
          </div>
        </div>
        <div class="">
          <div class="footer-item">
            <h4 class="text-link">{{ footer_section.fax_header }}</h4>
            <ul>
              <li>{{ footer_section.fax_text }}</li>
            </ul>
          </div>
        </div>
        <div class="">
          <div class="footer-item">
            <h4 class="text-link">{{ footer_section.mobile_header }}</h4>
            <ul>
              <li>{{ footer_section.mobile_text }}</li>
            </ul>
          </div>
        </div>
        <div class="">
          <div class="footer-item">
            <h4 class="text-link">{{ footer_section.email_header }}</h4>
            <ul>
              <li><a href="mailto:{{ footer_section.email_text }}">{{ footer_section.email_text }}</a></li>
            </ul>
          </div>
        </div>
        <div class="">
          <div class="footer-item">
            <h4 class="text-link">{{ footer_section.website_header }}</h4>
            <ul>
              <li><a href="{{ footer_section.website_text }}">{{ footer_section.website_text }}</a></li>
            </ul>
          </div>
        </div>
        <!-- Footer info-->
        <!-- Footer info end-->
        <div class="">
          <div class="footer-item">
            <h4 class="text-link">{{ footer_section.address_header }}</h4>
            <ul>
              <li>
                <span>{{ footer_section.address_text|linebreaks }}</span>
              </li>
              <li><a
                href="https://maps.app.goo.gl/cwwr1ge757mZha2cA"
                target="_blank">Auf der Karte ansehen</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer section start -->

<!-- qr-code section starts -->
{#<div class="qr-btn">#}
{#  <img class="img-fluid qr-code" src="{% static 'images/qr-code.png' %}" alt="qr-code">#}
{#</div>#}
<!-- qr-code section end -->

<!-- tap to top start -->
<a class="scroll scroll-to-top">
  <i class="iconsax arrow" data-icon="chevron-up"></i>
</a>

<div id="modals-here">
  <div class="cookie-info">
    <div class="cookie-modal-close-button-wrapper">
      <button type="button"
              class="cookie-modal-close-button"
              onclick="buttonClose('close')"
      >&#x2715;
      </button>
    </div>
    <h1 class="cookie-header">Cookies</h1>
    {% for cookie_group in cookies %}
      <div>
        <table class="cookie-group-table">
          {% for cookie in cookie_group.cookie_set.all %}
            <tr class="cookie-content-holder">
              <th>
                {{ cookie.name }}
                {% if cookie.domain %}
                  ({{ cookie.domain }})
                {% endif %}
              </th>
              <td>
                {% if cookie.description %}
                  {{ cookie.description }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </table>
        {% if not cookie_group.is_required %}
          <div class="cookie-bar-button-holder">
            {% if request|cookie_group_accepted:cookie_group.varname %}
              <span class="btn theme-btn cookie-bar-button cookie-bar-declined-or-accepted-text">Angenommen</span>
            {% else %}
              <form action="{% url "cookie_consent_accept" cookie_group.varname %}" method="POST">
                {% csrf_token %}
                <input class="btn theme-btn cookie-bar-button cookie-butto reload-aftern" type="submit" value="Akzeptieren"
                       onclick="buttonClose('close')">
              </form>
            {% endif %}

            {% if request|cookie_group_declined:cookie_group.varname %}
              <span class="btn theme-btn cookie-bar-button cookie-bar-declined-or-accepted-text">Abgelehnt</span>
            {% else %}
              <form action="{% url "cookie_consent_decline" cookie_group.varname %}" method="POST">
                {% csrf_token %}
                <input class="btn theme-btn cookie-bar-button reload-after" type="submit" value="Ablehnen"
                       onclick="buttonClose('close')">
              </form>
            {% endif %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

{% if request|cookie_consent_enabled %}
  {% with if_all_cookie_accepted=request|all_cookies_accepted %}
    {% not_accepted_or_declined_cookie_groups request as cookie_groups %}
    {% cookie_consent_accept_url cookie_groups as url_accept %}
    {% cookie_consent_decline_url cookie_groups as url_decline %}

    {% if not if_all_cookie_accepted %}
      <div class="cookie-bar">
        <p>
          Diese Website verwendet Cookies für eine bessere Leistung und Benutzererfahrung. Stimmen Sie der Verwendung
          von
          Cookies zu?
        </p>
        <div class="cookie-bar-link-holder">
          <form class="cookie-bar-link" method="post" action="{{ url_accept }}">
            {% csrf_token %}
            <button class="btn theme-btn cookie-bar-button reload-after">Akueptieren</button>
          </form>
          <form class="cookie-bar-link" method="post" action="{{ url_decline }}">
            {% csrf_token %}
            <button class="btn theme-btn cookie-bar-button reload-after">Ablehnen</button>
          </form>
          <button class="btn theme-btn cookie-bar-link cookie-bar-button" onclick="buttonClose('open')">
            Mehr Info
          </button>
        </div>
      </div>
      <script>
        document.addEventListener('DOMContentLoaded', () => {
          const elements = document.querySelectorAll(".reload-after");
          elements.forEach(element => {
            element.addEventListener('click', () => {
              location.reload();
            });
          });
        });
      </script>
    {% endif %}
  {% endwith %}
{% endif %}
<!-- tap to top end -->
<!-- aos js -->
{% block inline_javascript %}
  <script type="text/javascript" src="{% static 'js/map.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/modal.js' %}"></script>
{% endblock inline_javascript %}
</body>

</html>
