{% extends 'base.html' %}
{% load static %}

{% block inline_javascript %}
  <script async defer loading="async"
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpWI7FCFbMNDiIlOWmPxrJd_n9MHmBSlg"></script>
  <script type="text/javascript" src="{% static 'js/map.js' %}"></script>
  <script type="text/javascript">
    setTimeout(() => {
      $("#map-canvas").gmap3({
        action: "init",
        marker: {
          values: [{
            latLng: [{{ location.latitude }}, {{ location.longitude }}],
            options: {
              icon: "{% static 'images/kua_square_logo.jpg' %}"
            }
          }],
        },
        map: {
          options: {
            zoom: 14,
            zoomControl: true,
            mapTypeControl: true,
            scaleControl: true,
            scrollwheel: true,
            streetViewControl: false,
            draggable: true,
            styles: [
              {
                "featureType": "water",
                "elementType": "geometry",
                "stylers": [{"color": "#e9e9e9"}, {"lightness": 17}]
              }, {
                "featureType": "landscape",
                "elementType": "geometry",
                "stylers": [{"color": "#f5f5f5"}, {"lightness": 20}]
              }, {
                "featureType": "road.highway",
                "elementType": "geometry.fill",
                "stylers": [{"color": "#ffffff"}, {"lightness": 17}]
              }, {
                "featureType": "road.highway",
                "elementType": "geometry.stroke",
                "stylers": [{"color": "#ffffff"}, {"lightness": 29}, {"weight": 0.2}]
              }, {
                "featureType": "road.arterial",
                "elementType": "geometry",
                "stylers": [{"color": "#ffffff"}, {"lightness": 18}]
              }, {
                "featureType": "road.local",
                "elementType": "geometry",
                "stylers": [{"color": "#ffffff"}, {"lightness": 16}]
              }, {
                "featureType": "poi",
                "elementType": "geometry",
                "stylers": [{"color": "#f5f5f5"}, {"lightness": 21}]
              }, {
                "featureType": "poi.park",
                "elementType": "geometry",
                "stylers": [{"color": "#dedede"}, {"lightness": 21}]
              }, {
                "elementType": "labels.text.stroke",
                "stylers": [{"visibility": "on"}, {"color": "#ffffff"}, {"lightness": 16}]
              }, {
                "elementType": "labels.text.fill",
                "stylers": [{"saturation": 36}, {"color": "#333333"}, {"lightness": 40}]
              }, {"elementType": "labels.icon", "stylers": [{"visibility": "off"}]}, {
                "featureType": "transit",
                "elementType": "geometry",
                "stylers": [{"color": "#f2f2f2"}, {"lightness": 19}]
              }, {
                "featureType": "administrative",
                "elementType": "geometry.fill",
                "stylers": [{"color": "#fefefe"}, {"lightness": 20}]
              }, {
                "featureType": "administrative",
                "elementType": "geometry.stroke",
                "stylers": [{"color": "#fefefe"}, {"lightness": 17}, {"weight": 1.2}]
              }
            ]
          }
        }
      });
    }, 300)
  </script>
{% endblock %}

{% block content %}

  <section class="wrapper" id="home">
    <div class="custom-container h-100">
      <div class="row h-100">
        <div class="col-xl-5">
          <div id="map-canvas"></div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
