{% extends 'base.html' %}
{% load static %}

{% block content %}

  <section class="wrapper" id="home">
    <div class="custom-container h-100">
      <div class="row h-100">
        <div class="col-xl-5">
          <div class="home-content" style="display: flex; flex-direction: column; margin-top: 100px"
               data-aos="fade-right" data-aos-duration="1500">
            <div>
              <h1> Impressum </h1>

              <p>Jupiter Taxi GmbH</p>
              <p>- Taxi Basalt -</p>
              <p>Basaltstraße 19</p>
              <p>60487 Frankfurt</p>

              <p><span style="font-weight: bold">Fon: </span>069 97074980</p>
              <p><span style="font-weight: bold">Fax: </span> 069 97074970</p>
              <p><span style="font-weight: bold">Mobil: </span> 0171 3504742</p>

              <p><span style="font-weight: bold">E-Mail: </span> info@taxibasalt19.de</p>
              <p><span style="font-weight: bold">Web: </span> www.taxibasalt19.de</p>

              <p><span style="font-weight: bold">Geschäftsführer: </span> Frank Benner</p>

              <p><span style="font-weight: bold">Handelsregister: </span> <br> Amtsgericht Frankfurt am Main, HRB 76268 </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
