{% extends 'base.html' %}
{% load static %}

{% block content %}

  <section class="wrapper" id="home">
    <div class="custom-container h-100">
      <div class="row h-100">
        <div class="col-xl-5">
          <div class="home-content" data-aos="fade-right" data-aos-duration="1500">
          <div>
          Impressum

          Jupiter Taxi GmbH
          - Taxi Basalt -
          Basaltstraße 19
          60487 Frankfurt

          Fon: 069 97074980
          Fax: 069 97074970
          Mobil: 0171 3504742

          E-Mail: info@taxibasalt19.de
          Web: www.taxibasalt19.de

          Geschäftsführer: Frank Benner

          Handelsregister:
          Amtsgericht Frankfurt am Main, HRB 76268
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
