{% extends 'base.html' %}
{% load static %}

{% block content %}

  <section class="wrapper" id="home">
    <div class="custom-container h-100">
      <div class="row h-100">
        <div class="col-xl-5">
          <div class="home-content" style="display: flex; flex-direction: column; margin-top: 100px"
               data-aos="fade-right" data-aos-duration="1500">
            <div>
              <h1> {{ imprint.header }} </h1>

              <p>{{ imprint.firm_name_part_one }}</p>
              <p>{{ imprint.firm_name_part_two }}</p>
              <p>{{ imprint.firm_address_part_one}}</p>
              <p>{{ imprint.firm_address_part_two }}</p>

              <p><span class="imprint-text">{{ imprint.phone_header }} </span>{{ imprint.phone_text }}</p>
              <p><span class="imprint-text">{{ imprint.fax_header }} </span> {{ imprint.fax_text }}</p>
              <p><span class="imprint-text">{{ imprint.mobile_header }} </span> {{ imprint.mobile_text }}</p>

              <p><span class="imprint-text">{{ imprint.email_header }}</span> {{ imprint.email_text }}</p>
              <p><span class="imprint-text">{{ imprint.website_header }} </span> {{ imprint.website_text }}</p>

              <p><span class="imprint-text">{{ imprint.ceo_header }} </span> {{ imprint.ceo_text }}</p>

              <p><span class="imprint-text" style="font-weight: bold">{{ imprint.commercial_register_header }} </span> <br> {{ imprint.commercial_register_text }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
