{% extends 'base.html' %}
{% load static yellow_text %}

{% block content %}
  <section class="home-wrapper" id="home">
    <div class="custom-container h-100">
      <div class="row h-100">
        <div class="col-xl-6">
          <div class="home-content here-sections" data-aos="fade-right" data-aos-duration="1500">
            <div>
              <h1><span> {{ home.hero_header|yellow_text }} <br> </span> {{ home.hero_header|normal_text }} </h1>
              <p>{{ home.hero_text }}</p>

              <div class="button-part">
                <h6 class="border-0 lh-1"> Buche eine Fahrt über unsere App : </h6>
                <a target="_blank" href="https://themes.pixelstrap.com/pwa/taxify/driver-app/"
                   class="btn theme-btn d-inline-block"> {{ home.hero_button_text }} </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 here-sections">
          <img style="border-radius: 10px" src="{{ home.hero_image.url }}">
        </div>
      </div>
    </div>
  </section>

  {% for service_section in service_sections %}
    <section id="services" class="app-features-sec section-b-space">
      <div class="custom-container">
        <div class="title text-center">
          <h3>{{ service_section.header }}</h3>
        </div>

        <div class="feature-wepper">
          <div class="row g-md-5 g-4 feature-box-wrapper">
            {% for service in service_section.services.all %}
              <div data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="100"
                   class="col-lg-4 col-md-6 col-sm-12 col-12 d-flex justify-content-center align-items-center">
                <div class="feature-box feature-box-custom-style">
                  <h3 class="feature-box-header">{{ service.title }} <br><span
                    class="feature-box-detail-header">
                    {% if service.detail_title %}{{ service.detail_title }} {% endif %}</span>
                  </h3>
                  <p>{{ service.text }}</p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
  {% endfor %}

  {% for vehicle_section in vehicle_sections %}
    <section id="vehicles" class="features-wrapper section-b-space">
      <div class="custom-container">

        <div class="title text-center">
          <h3 class="text-white">{{ vehicle_section.header }}</h3>
          <p>{{ vehicle_section.text }}</p>
        </div>
        <div class="row g-sm-4 g-3">
          {% for vehicle in vehicle_section.vehicles.all %}
            <div class="col-lg-6 col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
              <div id="{{ vehicle.header|slugify }}" class="card-body">
                <h5>{{ vehicle.header }}</h5>
              </div>
            </div>
             <style>
              #{{ vehicle.header|slugify }} {
                background-image: url('{{ vehicle.image.url }}');
                background-position: center; /* Center the image */
                background-repeat: no-repeat; /* Do not repeat the image */
                background-size: cover;
                height: 300px;
              }
            </style>
          {% endfor %}
        </div>
      </div>
    </section>
  {% endfor %}
{% endblock content %}
